*{
    margin:0;
    padding: 0;

}
body{
    background-image: url("body.jpg");
    background-size: cover;

}
.container{
    backdrop-filter: blur(10px);
    border: 2px solid white ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 30rem;
    margin-top: 8%;
    margin-left: 35%;
    gap:30px;

}

.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin:20px;
}
.dropdown i{
    color: white ;
    justify-content: center;
    align-items: center;
}
.amount input {
    font-size: 2em;
    height:40px;
    width:25rem;
    border-radius: 10px;
}
.amount p{
    color: rgb(8, 240, 51);
    font-family:cursive;
    font-size: 20px;

}
.container h1{
    color: rgb(191, 4, 4) ;
    margin-top:0px;
}
.exchangerate button{
    height:40px;
    width:100%;
    border-radius: 10px;
    font-family: cursive;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.exchangerate button:hover{
    background-color: aquamarine;
    color:red;
}
.From{
    color: rgb(46, 2, 96);
    font-family: cursive;
    font-size:20px;


}
.To{
    color:rgb(46, 2, 96);
    font-family: cursive;
    font-size:20px;

}
.msg{
    color: white;
    margin-bottom: 20px;
    font-size: 1.5rem;

}
.select-container{

    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
   


}
.select-container img{
     height:30px;
}